<% if !logged_in %>
	<%= link_to "Login", :controller => :users, :action => :login %>
	<br/><br/>
	<%= link_to "Register", :controller => :users, :action => :new %>
<% else %>
	<% user = User.find(session[:user_id]) %>
	<p> Welcome, <%= link_to user_name(user), user %> </p>
	<%= user_photo(user, :small) %>
	<br/>
	<%= link_to "Logout", :controller => :users, :action => :logout %>
<% end %>