<h1>Register</h1>
<% form_for @user, :html => { :multipart => true } do |f| %>
  <%= f.error_messages %>
	<p>
		<%= f.label :name, "Username (Max 12 characters)" %>
		<%= f.text_field :name %>
	</p>
	<p>
		<%= f.label :password, "Password" %>
		<%= f.password_field :password %>
	</p>
	<p>
		<%= f.label :photo, "Optional User Image" %>
		<%= f.file_field :photo %>
	</p>
	<%= f.submit "Submit" %>
<% end %>